POSTGRES_DB=fleet
POSTGRES_USER=fleet
POSTGRES_PASSWORD=fleet_dev_password
POSTGRES_PORT=5432

REDIS_PORT=6379

MQTT_PORT=1883
MQTT_WS_PORT=9001

KAFKA_PORT=19092
REDPANDA_ADMIN_PORT=9644

PROMETHEUS_PORT=9090

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
